<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %>
  <title>home</title>
  <body>
    <%- include('partial/nav') %>
    <%=JSON.stringify(user) %>
  <%- include('partial/script') %>
</body>
</html>
